<!DOCTYPE html>
<html>
<head>
	<title>Snowman</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">

</head>
<body>
<div class ="ui fixed inverted menu">
	<a href="/" class="header item">Accueil</a>
</div>
